div.body7-container{
    width: var(--widthBody);
    border-radius: 16px;
    margin: 24px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
div.body7-container>img{
    border-radius: 16px;
    width: 644px;
}